.post-type-archive-tekserve_faq_device .tekserve_faq_device,
.post-type-archive-tekserve_faq_os .tekserve_faq_os {
	max-width: 33%;
	display: inline-block;
	margin: 2em;
	text-align: center;
	padding: 0 !important;
	min-height: 390px;
}

.post-type-archive-tekserve_faq_os .tekserve_faq_os h2,
.post-type-archive-tekserve_faq_device .tekserve_faq_device h2 {
	max-width: 215px;
	text-align: center;
	margin-bottom: 1em;
}

.post-type-archive-tekserve_faq_device .even h2 a,
.post-type-archive-tekserve_faq_device .even h2 a:visited,
.post-type-archive-tekserve_faq_device .odd h2 a,
.post-type-archive-tekserve_faq_device .odd h2 a:visited,
.post-type-archive-tekserve_faq_os .even h2 a,
.post-type-archive-tekserve_faq_os .even h2 a:visited,
.post-type-archive-tekserve_faq_os .odd h2 a,
.post-type-archive-tekserve_faq_os .odd h2 a:visited {
	color: #004d72;
	text-align: center;
	max-width: 100%;
}

.post-type-archive-tekserve_faq_device .tekserve_faq_device.even:hover h2 a,
.post-type-archive-tekserve_faq_device .tekserve_faq_device.odd:hover h2 a,
.post-type-archive-tekserve_faq_os .tekserve_faq_os.even:hover h2 a,
.post-type-archive-tekserve_faq_os .tekserve_faq_os.odd:hover h2 a {
	color: #f36f37;
}

.post-type-archive-tekserve_faq_device .tekserve_faq_device .post-meta,
.post-type-archive-tekserve_faq_device .tekserve_faq_device .entry-content,
.post-type-archive-tekserve_faq_os .tekserve_faq_os .post-meta,
.post-type-archive-tekserve_faq_os .tekserve_faq_os .entry-content {
	display: none;
}

.post-type-archive-tekserve_faq_device .tekserve_faq_device img,
.post-type-archive-tekserve_faq_os .tekserve_faq_os img {
	outline: none;
	float: none;
	margin: 0 !important;
}

.post-type-archive-tekserve_faq_device #sidebar,
.post-type-archive-tekserve_faq_os #sidebar,
.post-type-archive-tekserve_faq_edition #sidebar,
.page-template-page-knowledge-base-php #sidebar {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	width: 25%;
	min-width: 230px;
}

.post-type-archive-tekserve_faq_device #content,
.post-type-archive-tekserve_faq_os #content,
.post-type-archive-tekserve_faq_edition #content,
.page-template-page-knowledge-base-php #content {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	width: 75%;
	padding-right: 5%;
	min-width: 230px;
}

.page-template-page-knowledge-base-php #inner #content .entry-content,
.page-template-page-knowledge-base-php #inner #content .entry-content .entry-title {
	margin-top: 0;
	padding-top: 0;
}

#sidebar .widget.emma-widget {
	min-height: 225px;
	margin-bottom: 20px;
	margin-left: 10px;
}

#sidebar .widget.emma-widget div h4 { 
	color: #40a8c9;
	font-weight: 900;
	text-transform: uppercase;
	line-height: 1;
}

#sidebar .widget li a {
	text-decoration: none;
	font-weight: 800;
	font-family: Tekvetica;
	font-size: 20px;
}

#sidebar .widget-inner ul li {
	background-color: #fff;
	margin-bottom: 5px;
	padding-left: 10px;
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px;
	border-radius: 4px; 
}

#sidebar ul, #sidebar ul li {
	list-style: none !important;
}

#sidebar  ul > li > ul {
	background-color: #fff;
}

#sidebar  ul > li > ul:hover {
	background-color: #fff;
}

#sidebar .widget li a {
	text-decoration: none;
}

#sidebar .widget li:hover a {
	color: #40A8C9;
}

#sidebar .widget li:hover i {
	color:#40A8C9;
}

#sidebar .widget {
	padding-bottom: 2em;
}

#sidebar h4.widget-title {
	font-size: 1.75em;
}

.single-tekserve_faq_edition .nr_related_placeholder {
	display: none;
}

.single-tekserve_faq_edition .tekserve-faq-edition-pdf-link-container,
.single-tekserve_faq_edition .tekserve-faq-edition-epub-link-container ,
.single-tekserve_faq_edition .tekserve-faq-edition-mobi-link-container {
	margin-left: 3em;
}

.single-tekserve_faq_edition .tekserve-faq-edition-pdf-link,
.post-type-archive-tekserve_faq_edition .tekserve-faq-edition-pdf-link {
	background-image: url(images/pdf_logo.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 0;
	margin-left: -2em;
	text-indent: 2em;
	height: 2em;
	vertical-align: middle;
}

.single-tekserve_faq_edition .tekserve-faq-edition-epub-link,
.post-type-archive-tekserve_faq_edition .tekserve-faq-edition-epub-link {
	background-image: url(images/epub_logo.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 0;
	margin-left: -2em;
	text-indent: 2em;
	height: 2em;
	vertical-align: middle;
}

.single-tekserve_faq_edition .tekserve-faq-edition-mobi-link,
.post-type-archive-tekserve_faq_edition .tekserve-faq-edition-mobi-link {
	background-image: url(images/mobi_logo.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 0;
	margin-left: -2em;
	text-indent: 2em;
	height: 2em;
	vertical-align: middle;
}

.post-type-archive-tekserve_faq_edition .tekserve-faq-edition-mobi-link,
.post-type-archive-tekserve_faq_edition .tekserve-faq-edition-epub-link,
.post-type-archive-tekserve_faq_edition .tekserve-faq-edition-pdf-link {
	margin-left: 0;
	height: 30px;
	text-indent: 3em !important;
	padding-top: 12px;
	color: #40a8c9;
}

.post-type-archive-tekserve_faq_edition .tekserve-faq-edition-mobi-link:hover,
.post-type-archive-tekserve_faq_edition .tekserve-faq-edition-epub-link:hover,
.post-type-archive-tekserve_faq_edition .tekserve-faq-edition-pdf-link:hover {
	color: #f36f37;
}

.single-tekserve_faq_edition .tekserve_faq_edition img {
	height: auto;
	width: 300px;
	margin-left: -50px;
	margin-bottom: 50px;
}

.post-type-archive-tekserve_faq_edition li.isotope-item.grid-cat-2040 {
	text-indent: 0 !important;
	max-width: 29%;
	display: inline-block;
	vertical-align: top;
	min-width: 230px;
}

.single .wrap #content div ul.tekserve-faq-issue-list li {
	list-style: none !important;
	line-height: 2.5em;
}

.tekserve-faq-issue-list li a:after {
	content: "";
	margin: 0 .5em;
	font-family: 'fontawesome' !important;
	color: #40a8c9;
	font-size: .75em;
}

.tekserve-faq-issue-list li a.active:after {
	content: "";
	margin: 0 .5em;
	font-family: 'fontawesome' !important;
	color: #f36f37;
	font-size: .75em;
}

.single .wrap #content div ul.tekserve-faq-issue-list li a,
.single .wrap #content div.tekserve-faq-issue-list li a:visited {
	margin-bottom: 1em;
	font-size: 2em;
	font-weight: normal;
	font-family: 'Tekvetica', 'Helvetica Neue LT Com', Helvetica Neue, Helvetica, Arial, sans-serif;
	line-height: 1.25em;
	color: #004d72 !important;
	font-size: 2em;
}

.single .wrap #content div ul.tekserve-faq-issue-list li a.active,
.single .wrap #content div ul.tekserve-faq-issue-question-list a:hover,
.single .wrap #content div ul.tekserve-faq-issue-list li a:hover {
	color: #f36f37 !important;
}

.single .wrap #content div ul.tekserve-faq-issue-question-list li {
	list-style: none !important;
}

.single .wrap #content div ul.tekserve-faq-issue-question-list a,
.single .wrap #content div ul.tekserve-faq-issue-question-list a:visited {
	font-size: 1em;
	margin-left: -1em;
}

.single .wrap #content div ul.tekserve-faq-issue-question-list a:before {
	content: "";
	margin: 0 1em;
	font-family: 'fontawesome' !important;
	font-size: .75em;
	color: #004d72 !important;
}

.tekserve-faq-device-image img {
	width: 100%;
	max-width: 300px;
	height: auto;
}

#tekserve-faq-questions {
	position: relative;
}

#tekserve_faq_loading {
	position: absolute;
	top: 0;
	left: 50%;
}

ul.sub-categories,
ul.sub-categories li,
ul.category-posts,
ul.category-posts li {
	list-style: none;
}

ul.category-posts li,
ul.sub-categories {
	padding-bottom: 1em;
	margin-left: 1em;
}

li.sub-category-l1-link,
ul.sub-categories.level-2 li {
	padding-left: 1em;
}

span.root-cat-link a,
span.root-cat-link a:visited {
	color: #40a8c9;
	font-weight: bold;
}

span.root-cat-link a:hover {
	color: #004d72;
}

h2.knowledge-base-root-title {
	font-size: 1.5em;
}

.page-template-page-knowledge-base-php .knowledge-base.row:before,
.page-template-page-knowledge-base-php .knowledge-base.row:after {
	display: table;
	height: 0px;
	content: "";
}

.page-template-page-knowledge-base-php .knowledge-base.row:after {
	clear: both;
}

.page-template-page-knowledge-base-php .knowledge-base.row [class*="vc_span"] {
	display: block;
	width: 100%;
	min-height: 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	margin-left: 9.5%;
}

.page-template-page-knowledge-base-php .knowledge-base.row [class*="vc_span"]:first-child {
	margin-left: 0;
}

.page-template-page-knowledge-base-php .knowledge-base.row .vc_span12,
.wpb_teaser_grid.wpb_carousel .vc_span12 {
	width: 100%;
}

.page-template-page-knowledge-base-php .knowledge-base.row .vc_span11 {
	width: 91.4583333333%;
}

.page-template-page-knowledge-base-php .knowledge-base.row .vc_span10 {
	width: 82.9166666667%;
}

.page-template-page-knowledge-base-php .knowledge-base.row .vc_span9 {
	width: 74.375%;
}

.page-template-page-knowledge-base-php .knowledge-base.row .vc_span8 {
	width: 65.8333333333%;
}

.page-template-page-knowledge-base-php .knowledge-base.row .vc_span7 {
	width: 57.2916666667%;
}

.page-template-page-knowledge-base-php .knowledge-base.row .vc_span6,
.wpb_teaser_grid.wpb_carousel .vc_span6 {
	width: 48.75%;
}

.page-template-page-knowledge-base-php .knowledge-base.row .vc_span5 {
	width: 40.2083333333%;
}

.page-template-page-knowledge-base-php .knowledge-base.row .vc_span4,
.wpb_teaser_grid.wpb_carousel .vc_span4 {
	width: 31.6666666667%;
}

.page-template-page-knowledge-base-php .knowledge-base.row .vc_span3,
.wpb_teaser_grid.wpb_carousel .vc_span3 {
	width: 23.125%;
}

.page-template-page-knowledge-base-php .knowledge-base.row .vc_span2 {
	width: 14.5833333333%;
}

.page-template-page-knowledge-base-php .knowledge-base.row .vc_span1 {
	width: 6.04166666667%;
}

@media only screen and (max-width: 1024px) and (min-width: 768px) {

	.section [class*="vc_span"] {
		display: block;
		width: 100% !important;
		min-height: 5px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
		float: left;
		margin-left: 2.5%;
	}
	
	.section .vc_span7.wpb_column.column_container.tekserve-faq-col-right {
		width: 50% !important;
		float: left !important;
		margin-left: 1em !important;
	}
	
	.section .vc_span5.wpb_column.column_container.tekserve-faq-col-left {
		width: 40% !important;
		float: left !important;
		margin-left: 1em !important;
	}
	
}

@media only screen and (max-width: 768px) {

	.single-tekserve_faq_device .section {
		position: relative;
		width: 200%;
		overflow-x: hidden;
		-webkit-transition: left 300ms cubic-bezier(0.580, 1, 0.835, 1); /* older webkit */
		-webkit-transition: left 300ms cubic-bezier(0.580, 1.230, 0.835, 1.035); 
		-moz-transition: left 300ms cubic-bezier(0.580, 1.230, 0.835, 1.035); 
		-o-transition: left 300ms cubic-bezier(0.580, 1.230, 0.835, 1.035); 
		transition: left 300ms cubic-bezier(0.580, 1.230, 0.835, 1.035); /* custom */
	}

	.section .vc_span7.wpb_column.column_container.tekserve-faq-col-right {
		width: 50% !important;
		float: left !important;
		margin-left: 0 !important;
		padding-right: 2em !important;
	}
	
	.section .vc_span7.wpb_column.column_container.tekserve-faq-col-right .tekserve-faq-slide-link {
		display: block !important;
	}
	
	.section .vc_span7.wpb_column.column_container.tekserve-faq-col-right .tekserve-faq-slide-link .tekserve-faq-slide-back {
		font-size: 1.5em;
		color: #40a8c9 !important;
		cursor: pointer;
	}
	
	.section .vc_span7.wpb_column.column_container.tekserve-faq-col-right .tekserve-faq-slide-link .tekserve-faq-slide-back:before {
		content: "\f100"; 
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		text-decoration: inherit;
		color: #40a8c9;
		font-size: inherit;
		position: relative;
		top: 0;
		left: -.2em;
	}
	
	.section .vc_span7.wpb_column.column_container.tekserve-faq-col-right .tekserve-faq-slide-link .tekserve-faq-slide-title {
		font-size: 1.5em;
		font-weight: bold;
		margin-left: 2em;
	}

	.section .vc_span5.wpb_column.column_container.tekserve-faq-col-left {
		width: 50% !important;
		float: left !important;
		margin-left: 0 !important;
	}
	
	.tekserve-faq-issue-list li a.active:after {
		content: "";
		margin: 0 .5em;
		font-family: 'fontawesome' !important;
		color: #40a8c9;
		font-size: .75em;
	}
	
	.single .wrap #content div ul.tekserve-faq-issue-list li a.active {
		color: #004d72 !important;
	}

}